body {
  background-color: #202020;
  color: White;
  font-family: Georgia;
}

#header {
	background-color: maroon;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

#page {
	margin: auto;
	left: 0px;
	top: 0px;
	width: 950px;
	height: 735px;
	border: solid;
	border-width: 5px;
	border-color: #333333;
	border-radius: 5px;
	background-color: dimgrey;
	box-shadow: 5px 5px 20px black;
}

#map {
     width: 800px;
     height: 625px;
	 border: solid;
	border-width: 5px;
	border-color: #333333;
	border-radius: 5px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;

}

#btn-group {
	float: left;

}

.btn {
	color: white;
	background-color: cadetblue;
	padding: 10px 10px 10px 10px;
	border-color: #333333;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 5px;
	border-radius: 5px;
}
