body {
  background-color: #202020;
  color: White;
  font-family: Georgia;
}

#header {
  color: White;
  text-align: center;
  background-color: slategrey;
  padding: 20px;
  top: 0px;
  margin-left: -3px;
  margin-right: -3px;
  margin-top: -3px;
  border: solid;
  borer-width: 3px;
  border-color: darkslategrey;
  border-radius: 5px;
}


#footer {
	padding: 10px;
	border: solid;
	border-width: 3px;
	border-color: darkslategrey;
	background-color: slategrey;
	border-radius: 5px;
	margin-left: -3px;
	margin-right: -3px;
    width: 1180px;
    float: left;
    bottom: auto;
}

#page {
	margin: auto;
	left: 0px;
	top: 0px;
	width: 1200px;
	height: 1353px;
	border: solid;
	border-width: 5px;
	border-color: darkslategrey;
	border-radius: 5px;
	background-color: grey;
	box-shadow: 5px 5px 20px black;
}

#map {
     width: 850px;
     height: 550px;
	 border: solid;
    left: 25px;
	border-width: 5px;
	border-color: darkslategrey;
	border-radius: 5px;
    float:left;
}

.picture {
	width: 200px;
	height: 110px;
	border: solid;
	border-width: 4px;
	border-color: darkslategrey;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

.assignment {
	width: 200px;
	height: 150px;
	padding: 20px;
	padding-bottom: 20px;
	float: left;
	text-align: center;

}














